body {
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f7;
    color: #333;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

.control-section, .meter-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.control-section {
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #4a5568;
}

.input-group input, .input-group select, .input-group button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    font-size: 16px;
    color: #4a5568;
}

.input-group button {
    background-color: #3182ce;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.input-group button:hover {
    background-color: #2c5282;
}

.meter-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scaleCanvas {
    width: 111px;
    height: 825px;
    max-width: 100%;
    max-height: calc(100vh - 100px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.input-group {
    margin-bottom: 10px;
}

.color-zone {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.color-zone select,
.color-zone input {
    flex-grow: 1;
}


input[type="number"], input[type="checkbox"], select {
    cursor: pointer;
}
